html, body{
    width: 100%;
    height: 100%;
    background-color: #535556;
    font-family: 'Ropa Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerpicture{
    max-width: 100%;
    background-image: url(/assets/header-background.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: 150px;
    
}

h1{
    color: #FFD600;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 10px;
    word-wrap: break-word;
    word-break: normal;
    width: 500px;
    padding-top: 120px;
    margin-left: 50px;
}

.character-title{
    font-weight: bold;
    color: #FFD600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-justify: auto;
    padding: 25px 0;
    background-color: #404040;
    border-radius: 5px 5px 0px 0;
}

li:nth-child(odd), .character-names, a{
    color: #444444;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100; 
    background-color: #E1DEDE;
}

ul > li:nth-child(2n+2), .character-names, a{
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100;
    background-color: grey;
}
   
.character-card{
    background-color: #C4C4C4;
    width: 500px;
    height: 700px;
    border-radius: 10px 10px 0px 0;
    transform: translatey(-35px) ;  
}

.character-names, a:link{
    color: white;
    padding: 14px 25px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

ul{
    list-style-type: none;
  }
  
.character-info{
    background-color: grey;
    width: 500px;
    height: 700px;
    border-radius: 10px 10px 0px 0;
    transform: translatey(-35px); 
}

.info-title{
    font-weight: bold;
    color: #FFD600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-justify: auto;
    padding: 25px 0;
    background-color: #748687;
    border-radius: 5px 5px 0px 0;
}

.info-planet{
    background-color:#C4C4C4;
    height: 40%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.scroll-back, .scroll-forward{
    width: 20px;
    height: 20px;
}

.navigation-bar{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.navigation-bar p{
    color: #444444;
    font-size: 25px;
    letter-spacing: 15px;
    font-weight: 100; 
}