html, body{
    width: 100%;
    height: 100%;
    background-color: #535556;
    font-family: 'Ropa Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-picture{
    max-width: 100%;
    background-image: url(/assets/header-background.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

h1{
    color: #FFD600;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 10px;
    word-wrap: break-word;
    word-break: normal;
    width: 500px;
    padding-top: 120px;
    margin-left: 50px;
}

.character-title{
    font-weight: bold;
    color: #FFD600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-justify: auto;
    padding: 25px 0;
    background-color: #404040;
    border-radius: 5px 5px 0px 0;
}

li:nth-child(odd){
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: grey;
}

ul > li:nth-child(2n+2){
    color: #444444;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 100; 
    background-color: #E1DEDE;
}
   
.character-card{
    background-color: #C4C4C4;
    width: 500px;
    height: 750px;
    border-radius: 10px 10px 0px 0;
    transform: translatey(-35px) ;  
}

.character-names, a:link{
    color: white;
    padding: 14px 25px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

ul{
    list-style-type: none;
  }
  
  .scroll-back, .scroll-forward{
    width: 20px;
    height: 20px;
}

.navigation-bar{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.navigation-bar p{
    color: #444444;
    font-size: 25px;
    letter-spacing: 15px;
    font-weight: 100; 
}

.character-info{
    background-color: grey;
    width: 500px;
    height: 750px;
    border-radius: 10px 10px 0px 0;
    transform: translatey(-35px); 
}

.info-title{
    font-weight: bold;
    color: #FFD600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-justify: auto;
    padding: 25px 0;
    background-color: #748687;
    border-radius: 5px 5px 0px 0;
}

.info-details{
    color: #535556;
    font-weight: 200; 
    padding: 20px 25px;
    background-color:#C4C4C4;
    padding-bottom: 10px;
}

.info-details h3{
    font-size: 40px;
    letter-spacing: 4px;
    padding: 4px 0;
}

.info-details p{
    font-size: 20px;
    letter-spacing: 3px;
    padding: 4px 0;
}

.info-planet{
    /* background-color:#C4C4C4; */
    height: 40%;
}

.loader {
    border-top: 10px solid #535556;
    border-right: 10px solid #000;
    border-bottom: 10px solid #535556;
    border-left: 10px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  button{
      width: 110px;
      height: 45px;
      color: #FFD600;
      background-color: grey;
      border: none;
      border-radius: 10px 10px 0 0 ;
      margin-left: 10px;
  }

  .more-info{
    color: white;
    font-weight: 200; 
    padding: 20px 25px;
    background-color:grey;
  }
  
  .more-info h3{
    font-size: 40px;
    letter-spacing: 4px;
    padding-bottom: 4px;
}

.more-info p{
    font-size: 20px;
    letter-spacing: 3px;
    padding: 4px 0;
}
nav{
background-color: #C4C4C4;
}
.nextpage, .previouspage{

    color: black;
    background-color: transparent;
    width: 110px;
    height: 45px;
    border: none;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
